html, body{
    margin: 0;
    background: #d59102;
    background-image: url('../assets/bg0.jpg');
    background-size: cover;
    height: 100%;
}
body{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
}
#theGame{
    max-width: 97%;
    max-height: 97%;
    display: block;
    margin: auto;
    background: #677c7e;
    box-shadow: 0 0 3px 2px rgba(100, 100, 100, 0.1);
}
